<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_tag('/sessions', method: :post ) do %>
    <%= label_tag :name %>
    <%= collection_select(:user, :name, User.all, :name, :name, prompt: "Please select your username from this dropdown") %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Sign In" %>

<% end %>